<h1>Create Action</h1>

<%
	actions_type_id = 3
	if params[:actions_type_id] != nil
	  actions_type_id = params[:actions_type_id].to_i	  
	end
%>

<form method="GET">
  <label for="actions_type_id">Actions Type:</label>
  <select name="actions_type_id">
  <% @actions_types_all.sort { |a,b| a.description <=> b.description }.each do |actions_type| %>
    <% if actions_type.id == actions_type_id %>
      <option value="<%= actions_type.id %>" selected="selected"><%= actions_type.description %></option>
    <% else %>
      <option value="<%= actions_type.id %>"><%= actions_type.description %></option>
    <% end %>
  <% end %>
  </select>
  <input type="submit" /> 
</form>

<% cur_actions_type = ActionsType.find( actions_type_id ) %>
<h2><%= cur_actions_type.description %></h2>
<%= form_for @action, as: :foo, url: actions_path do |f| %>
  <%= f.hidden_field :actions_type_id, :value => actions_type_id %>

  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <% unless cur_actions_type.symbol.nil? %>
  <p>
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </p>
  <% end %>

  <% unless cur_actions_type.value1.nil? %>
  <p>
    <%= f.label :value1, cur_actions_type.value1 %><br>
    <%= f.text_field :value1 %>
  </p>
  <% end %>

  <% unless cur_actions_type.value2.nil? %>
  <p>
    <%= f.label :value2, cur_actions_type.value2 %><br>
    <%= f.text_field :value2 %>
  </p>
  <% end %>

  <% unless cur_actions_type.value3.nil? %>
  <p>
    <%= f.label :value3, cur_actions_type.value3 %><br>
    <%= f.text_field :value3 %>
  </p>
  <% end %>

  <% unless cur_actions_type.value4.nil? %>
  <p>
    <%= f.label :value4, cur_actions_type.value4 %><br>
    <%= f.text_field :value4 %>
  </p>
  <% end %>

  <% unless cur_actions_type.value5.nil? %>
  <p>
    <%= f.label :value5, cur_actions_type.value5 %><br>
    <%= f.text_field :value5 %>
  </p>
  <% end %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>