<h1>Stocks</h1>
<style type="text/css">
table {
  border-spacing: 20px 0;
  white-space: nowrap;
}
td.number {
    text-align: right;
}
td.symbol {
    font-weight: bold;
}
td.symbol_yellow {
    font-weight: bold;
    background-color: yellow;
}
td.symbol_red {
    font-weight: bold;
    background-color: red;
}
</style>
<a href="#" id="link_main">Main</a>
<a href="#" id="link_change">Returns</a>
<script type="text/javascript">
$(document).ready(function(){

  $('#div_change').hide();

  $('#link_change').click(function(){ 
      $('#div_main').hide();
      $('#div_change').show();
  });

  $('#link_main').click(function(){ 
      $('#div_change').hide();
      $('#div_main').show();
  }); 
});
</script>
<div id="div_main">
<table>
  <tr><td class="symbol">Total</td><td class="number"><%= number_with_precision( controller.portfolio_total, :precision => 2, :delimiter => "," ) %></td><td class="number"><%= number_with_precision( controller.portfolio_total_percent * 100, :precision => 2, :delimiter => ",") %>%</td></tr>
  <tr>
    <th>Symbol</th>
    <th>EPS</th>
    <th>Div</th>
    <th>Growth</th>
    <th>PE Ter</th>
    <th>Payout</th>
    <th>Book</th>
    <th>ROE</th>
    <th>%Model</th>
    <th>Price</th>
    <th>Value</th>
    <th>%Portfolio</th>
    <th>%Off</th>
    <th>Div+Growth</th>
    <th>EYield</th>
    <th>Wtd</th>
    <th>DYield</th>
    <th>Wtd</th>
    <th>5 CAGR</th>
    <th>10 CAGR</th>
    <th>5 CROE</th>
    <th>10 CROE</th>
  </tr>
 
  <% controller.portfolio.each do |stock| %>
    <tr>
      <td class="<%= if stock.reminder == 0 then "symbol" elsif stock.reminder == 1 then "symbol_yellow" else "symbol_red" end %>"><%= link_to stock.symbol, stock_path(stock) %></td>
      <td class="number"><%= number_with_precision( stock.eps, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= number_with_precision( stock.div, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= stock.growth*100 %>%</td>
      <td class="number"><%= stock.pe_terminal %></td>
      <td class="number"><%= stock.payout * 100 %>%</td>
      <td class="number"><%= number_with_precision( stock.book, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= stock.roe * 100 %>%</td>
      <td class="number"><%= stock.model * 100 %>%</td>
      <td class="number"><%= number_with_precision( stock.price, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= number_with_precision( stock.value, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= number_with_precision( stock.portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.off * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.div_plus_growth * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.eps_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.eps_yield_wtd * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.div_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.div_yield_wtd * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.five_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.ten_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.five_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.ten_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
    </tr>
  <% end %>
  <tr><td/><td/><td/><td/><td/><td/><td/><td/><td/><td class="symbol">CASH</td><td class="number"><%= number_with_precision( controller.portfolio_cash, :precision => 2, :delimiter => ",") %></td></td><td class="number"><%= number_with_precision( controller.portfolio_cash_percent * 100, :precision => 2, :delimiter => ",") %>%</td><td/><td/><td/><td class="number"><%= number_with_precision( controller.portfolio_eps_wtd_total * 100, :precision => 2, :delimiter => ",") %>%</td><td/><td class="number"><%= number_with_precision( controller.portfolio_div_wtd_total * 100, :precision => 2, :delimiter => ",") %>%</td>
  <tr><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td class="symbol">CHECK</td></td><td class="number"><%= number_with_precision( controller.portfolio_check * 100, :precision => 2, :delimiter => ",") %>%</td>
  <tr><td>&nbsp</td></tr>
  <% controller.watch_list.each do |stock| %>
    <tr>
      <td class="<%= if stock.reminder == 0 then "symbol" elsif stock.reminder == 1 then "symbol_yellow" else "symbol_red" end %>"><%= link_to stock.symbol, stock_path(stock) %></td>
      <td class="number"><%= number_with_precision( stock.eps, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= number_with_precision( stock.div, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= stock.growth*100 %>%</td>
      <td class="number"><%= stock.pe_terminal %></td>
      <td class="number"><%= stock.payout * 100 %>%</td>
      <td class="number"><%= number_with_precision( stock.book, :precision => 2, :delimiter => ",") %></td>
      <td class="number"><%= stock.roe * 100 %>%</td>
      <td class="number"></td>
      <td class="number"><%= number_with_precision( stock.price, :precision => 2, :delimiter => ",") %></td>
      <td class="number"></td>
      <td class="number"></td>
      <td class="number"></td>
      <td class="number"><%= number_with_precision( stock.div_plus_growth * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.eps_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.eps_yield_wtd * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.div_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.div_yield_wtd * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.five_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.ten_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.five_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
      <td class="number"><%= number_with_precision( stock.ten_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
    </tr>
  <% end %>
  <tr><td class="symbol"><%= link_to 'New', new_stock_path %></td></tr>
</table>
</div>
<div id="div_change">
<table>
  <tr><td class="symbol">Total</td><td class="number"><%= number_with_precision( controller.portfolio_total, :precision => 2, :delimiter => "," ) %></td><td class="number"><%= number_with_precision( controller.portfolio_total_percent * 100, :precision => 2, :delimiter => ",") %>%</td></tr>
  <tr>
    <th>Symbol</th>
    <th>Day</th>
    <th>Week</th>
    <th>Month</th>
    <th>Three Months</th>
    <th>Year</th>
    <th>Five Years</th>
    <th>Ten Years</th>
  </tr>
  <% controller.portfolio.each do |stock| %>
    <tr>
      <td class="<%= if stock.reminder == 0 then "symbol" elsif stock.reminder == 1 then "symbol_yellow" else "symbol_red" end %>"><%= link_to stock.symbol, stock_path(stock) %></td>
      <td class="number"><%= number_with_precision( stock.day_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.week_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.three_month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.five_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.ten_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
  <% end %>
  <tr><td>&nbsp</td></tr>
  <tr><td>&nbsp</td></tr>
  <tr><td>&nbsp</td></tr>
  <% controller.watch_list.each do |stock| %>
    <tr>
      <td class="<%= if stock.reminder == 0 then "symbol" elsif stock.reminder == 1 then "symbol_yellow" else "symbol_red" end %>"><%= link_to stock.symbol, stock_path(stock) %></td>
      <td class="number"><%= number_with_precision( stock.day_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.week_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.three_month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.five_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number"><%= number_with_precision( stock.ten_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
  <% end %>
</table>
</div>
<p/>
