<h1>Stocks</h1>
<style type="text/css">
table {
  border-spacing: 20px 0;
  white-space: nowrap;
}
td.number {
    text-align: right;
}
td.symbol {
    font-weight: bold;
}
td.symbol_yellow {
    font-weight: bold;
    background-color: yellow;
}
td.symbol_red {
    font-weight: bold;
    background-color: red;
}
td.confidence_green {
    background-color: green;
}
td.confidence_yellow {
    background-color: yellow;
}
td.confidence_gray {
    background-color: gray;
}
td.confidence_red {
    background-color: red;
}
</style>
<button type="button" id="link_main">Main</button>
<button type="button" id="link_change">Returns</button>
<button type="button" id="link_play">Play</button>
<script type="text/javascript">
$(document).ready(function(){

  $('#div_change').hide();
  $('#div_play').hide();

  $('#link_change').click(function(){
      $('#div_main').hide();
      $('#div_change').show();
      $('#div_play').hide();
  });

  $('#link_main').click(function(){
      $('#div_change').hide();
      $('#div_main').show();
      $('#div_play').hide();
  });

  $('#link_play').click(function(){
      $('#div_change').hide();
      $('#div_main').hide();
      $('#div_play').show();
  });

});
</script>
<div id="div_main">
  <%= render :partial => "portfolio", :locals => {:portfolio_id => Togabou::PORTFOLIOS_SELF} %>
</div>
<div id="div_change">
<table>
  <tr><td class="symbol">Total</td><td class="number"><%= number_with_precision( controller.portfolio_total( Togabou::PORTFOLIOS_SELF ), :precision => 2, :delimiter => "," ) %></td><td class="number"><%= number_with_precision( controller.portfolio_total_percent( Togabou::PORTFOLIOS_SELF ) * 100, :precision => 2, :delimiter => ",") %>%</td></tr>
  <tr>
    <th>Symbol</th>
    <th>Day</th>
    <th>Week</th>
    <th>Month</th>
    <th>Three Months</th>
    <th>Year</th>
    <th>Five Years</th>
    <th>Ten Years</th>
  </tr>
  <%
    symbol_lists = [ [ controller.portfolio_stocks( Togabou::PORTFOLIOS_SELF ), true, 3 ], [ controller.watch_stocks( Togabou::PORTFOLIOS_SELF ), true, 1 ], [ controller.monitor_stocks, false, 1 ] ]
    symbol_lists.each do |list|
      list[0].each do |stock|
  %>
    <tr>
      <% if list[1] == true %>
        <td class="<%= if stock.reminder == 0 then "symbol" elsif stock.reminder == 1 then "symbol_yellow" else "symbol_red" end %>"><%= link_to stock.symbol, stock_path(stock) %></td>
      <% else %>
        <td class="symbol"><%= stock.symbol %></td>
      <% end %>
      <td class="number" title="<%=stock.day_change_date.to_s %>"><%= number_with_precision( stock.day_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	    <td class="number" title="<%=stock.week_change_date.to_s %>"><%= number_with_precision( stock.week_change * 100, :precision => 2, :delimiter => ",") %>%</td>
  	  <td class="number" title="<%=stock.month_change_date.to_s %>"><%= number_with_precision( stock.month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	    <td class="number" title="<%=stock.three_month_change_date.to_s %>"><%= number_with_precision( stock.three_month_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	    <td class="number" title="<%=stock.year_change_date.to_s %>"><%= number_with_precision( stock.year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
  	  <td class="number" title="<%=stock.five_year_change_date.to_s %>"><%= number_with_precision( stock.five_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	    <td class="number" title="<%=stock.ten_year_change_date.to_s %>"><%= number_with_precision( stock.ten_year_change * 100, :precision => 2, :delimiter => ",") %>%</td>
	  </tr>
  <% end %>
  <% ( 1..list[2] ).each do |i| %>
    <tr><td>&nbsp</td></tr>
  <% end %>
  <% end %>
  <% as = controller.assets %>
    <tr>
      <td class="symbol">ROE</td>
      <td class="number" title="<%= ( as.date - 1.day ).to_s %>"><%= number_with_precision( as.ret_day_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.week ).to_s %>"><%= number_with_precision( as.ret_week_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.month ).to_s %>"><%= number_with_precision( as.ret_month_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 3.months ).to_s %>"><%= number_with_precision( as.ret_three_month_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.year ).to_s %>"><%= number_with_precision( as.ret_year_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 5.years ).to_s %>"><%= number_with_precision( as.ret_five_year_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 10.years ).to_s %>"><%= number_with_precision( as.ret_ten_year_roe * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
    <tr>
      <td class="symbol">ROTC</td>
      <td class="number" title="<%= ( as.date - 1.day ).to_s %>"><%= number_with_precision( as.ret_day_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.week ).to_s %>"><%= number_with_precision( as.ret_week_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.month ).to_s %>"><%= number_with_precision( as.ret_month_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 3.months ).to_s %>"><%= number_with_precision( as.ret_three_month_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.year ).to_s %>"><%= number_with_precision( as.ret_year_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 5.years ).to_s %>"><%= number_with_precision( as.ret_five_year_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 10.years ).to_s %>"><%= number_with_precision( as.ret_ten_year_rotc * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
    <tr>
      <td class="symbol">Portfolio</td>
      <td class="number" title="<%= ( as.date - 1.day ).to_s %>"><%= number_with_precision( as.ret_day_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.week ).to_s %>"><%= number_with_precision( as.ret_week_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.month ).to_s %>"><%= number_with_precision( as.ret_month_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 3.months ).to_s %>"><%= number_with_precision( as.ret_three_month_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.year ).to_s %>"><%= number_with_precision( as.ret_year_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 5.years ).to_s %>"><%= number_with_precision( as.ret_five_year_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 10.years ).to_s %>"><%= number_with_precision( as.ret_ten_year_portfolio * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
    <tr>
      <td class="symbol">Play</td>
      <td class="number" title="<%= ( as.date - 1.day ).to_s %>"><%= number_with_precision( as.ret_day_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.week ).to_s %>"><%= number_with_precision( as.ret_week_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.month ).to_s %>"><%= number_with_precision( as.ret_month_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 3.months ).to_s %>"><%= number_with_precision( as.ret_three_month_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.year ).to_s %>"><%= number_with_precision( as.ret_year_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 5.years ).to_s %>"><%= number_with_precision( as.ret_five_year_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 10.years ).to_s %>"><%= number_with_precision( as.ret_ten_year_play * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
    <tr>
      <td class="symbol">Managed</td>
      <td class="number" title="<%= ( as.date - 1.day ).to_s %>"><%= number_with_precision( as.ret_day_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.week ).to_s %>"><%= number_with_precision( as.ret_week_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.month ).to_s %>"><%= number_with_precision( as.ret_month_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 3.months ).to_s %>"><%= number_with_precision( as.ret_three_month_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 1.year ).to_s %>"><%= number_with_precision( as.ret_year_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 5.years ).to_s %>"><%= number_with_precision( as.ret_five_year_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	  <td class="number" title="<%= ( as.date - 10.years ).to_s %>"><%= number_with_precision( as.ret_ten_year_managed * 100, :precision => 2, :delimiter => ",") %>%</td>
	</tr>
</table>
</div>
<div id="div_play">
  <%= render :partial => "portfolio", :locals => {:portfolio_id => Togabou::PORTFOLIOS_PLAY} %>
</div>
<p/>
