<h1><%= @stock.symbol %></h1>
<style type="text/css">
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
table {
  border-spacing: 20px 0;
}
td.number {
    text-align: right;
}
td.symbol {
    font-weight: bold;
}
</style>

<%= form_for :stock, url: stock_path(@stock.id), method: :patch do |f| %>
<table>
<tr>
    <th>EPS</th>
    <th>Div</th>
    <th>Growth</th>
    <th>PE Ter</th>
    <th>Payout</th>
    <th>Book</th>
    <th>ROE</th>
    <th>%Model</th>
    <th>Price</th>
    <th>PE</th>
    <th>Div+Growth</th>
    <th>EYield</th>
    <th>DYield</th>
    <th>5 CAGR</th>
    <th>10 CAGR</th>
    <th>5 CROE</th>
    <th>10 CROE</th>
  </tr>
  <tr>
    <td class="number"><%= number_with_precision( @stock.eps, :precision => 2, :delimiter => ",") %></td>
    <td class="number"><%= number_with_precision( @stock.div, :precision => 2, :delimiter => ",") %></td>
    <td class="number"><%= @stock.growth*100 %>%</td>
    <td class="number"><%= @stock.pe_terminal %></td>
    <td class="number"><%= @stock.payout * 100 %>%</td>
    <td class="number"><%= number_with_precision( @stock.book, :precision => 2, :delimiter => ",") %></td>
    <td class="number"><%= @stock.roe * 100 %>%</td>
    <td class="number"><%= number_with_precision( @stock.model * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.price, :precision => 2, :delimiter => ",") %></td>
    <td class="number"><%= number_with_precision( @stock.pe, :precision => 2, :delimiter => ",") %></td>
    <td class="number"><%= number_with_precision( @stock.div_plus_growth * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.eps_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.div_yield * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.five_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.ten_year_cagr * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.five_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
    <td class="number"><%= number_with_precision( @stock.ten_year_croe * 100, :precision => 2, :delimiter => ",") %>%</td>
  </tr>
      <tr>
        <td> <%= f.text_field :eps, :value => @stock.eps, :size => 4 %></td>
        <td> <%= f.text_field :div, :value => @stock.div, :size => 4 %></td>
        <td> <%= f.text_field :growth, :value => @stock.growth, :size => 4 %></td>
        <td> <%= f.text_field :pe_terminal, :value => @stock.pe_terminal, :size => 4 %></td>
        <td> <%= f.text_field :payout, :value => @stock.payout, :size => 4 %></td>
        <td> <%= f.text_field :book, :value => @stock.book, :size => 4 %></td>
        <td> <%= f.text_field :roe, :value => @stock.roe, :size => 4 %></td>
        <td> <%= f.text_field :model, :value => @stock.model, :size => 4 %></td>
      </tr>
    </table>
  <p><%= f.submit %></p>
<% end %>

<table>
<tr>
  <th>2 Yr EPS</th>
  <th>7 Yr EPS</th>
  <th>5 Yr EPS</th>
  <th>10 Yr EPS</th>
  <th>5 Yr ROE</th>
  <th>5 Yr PE High</th>
  <th>5 Yr PE Low</th>
</tr>
<tr>
  <td class="number"><%= number_with_precision( @stock.two_year_eps*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( @stock.seven_year_eps*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( @stock.x_year_eps(5)*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( @stock.x_year_eps(10)*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( @stock.average_roe(5)*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( @stock.average_pe_high(5), :precision => 2, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( @stock.average_pe_low(5), :precision => 2, :delimiter => ",") %></td>
</tr>
<tr><td>&nbsp</td></tr>
</table>

<table>
<tr>
    <th>Date</th>
    <th>EPS</th>
    <th>Div</th>
    <th>PE</th>
    <th>PE High</th>
    <th>PE Low</th>
    <th>ROE</th>
    <th>ROA</th>
    <th>Market Cap</th>
    <th>Shares Out</th>
</tr>
<% @stock.fundamentals.each do |fundamental| %>
<tr>
  <td><%= fundamental.date %></td>
  <td class="number"><%= number_with_precision( fundamental.eps, :precision => 2, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.div, :precision => 2, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.pe, :precision => 0, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.pe_high, :precision => 0, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.pe_low, :precision => 0, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.roe*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( fundamental.roa*100, :precision => 2, :delimiter => ",") %>%</td>
  <td class="number"><%= number_with_precision( fundamental.mkt_cap, :precision => 0, :delimiter => ",") %></td>
  <td class="number"><%= number_with_precision( fundamental.shrs_out, :precision => 0, :delimiter => ",") %></td>
<td><%= link_to 'Edit', edit_stock_fundamental_path(@stock, fundamental) %></td>
<td><%= link_to 'Delete', stock_fundamental_path(@stock, fundamental), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
<%= form_for([@stock, @stock.fundamentals.new]) do |f| %>
<tr>
  <td><%= f.date_select :date, :default => Date.today, :start_year => 1980 %></td>
  <td><%= f.text_field :eps, :size => 4 %></td>
  <td><%= f.text_field :div, :size => 4 %></td>
  <td><%= f.text_field :pe, :size => 4 %></td>
  <td><%= f.text_field :pe_high, :size => 4 %></td>
  <td><%= f.text_field :pe_low, :size => 4 %></td>
  <td><%= f.text_field :roe, :size => 4 %></td>
  <td><%= f.text_field :roa, :size => 4 %></td>
  <td><%= f.text_field :mkt_cap, :size => 4 %></td>
  <td><%= f.text_field :shrs_out, :size => 4 %></td>
</tr>
</table>
<%= f.submit %>
<% end %>

<%= form_for([@stock, @stock.researches.new]) do |f| %>
<table>
<tr><td>
<table>
<tr><td><%= f.date_select :date, :default => Date.today %></td><td/></tr>
<tr><td><%= f.date_select :eps_yr2_date, :default => @stock.researches[0][:eps_yr2_date] %></td>
<td><%= f.text_field :eps_yr2, :value => @stock.researches[0][:eps_yr2] %></td></tr>
<tr><td><%= f.date_select :eps_yr1_date, :default => @stock.researches[0][:eps_yr1_date] %></td>
<td><%= f.text_field :eps_yr1, :value => @stock.researches[0][:eps_yr1] %></td</tr>
</table>
</td><td>
    <%= f.text_area :comment, :cols => "80", :rows => "10" %>
</td></tr>
</table>
<%= f.submit %>
<% end %>

<%= render :partial => @stock.researches %>
