<!DOCTYPE html>
<html>
<head>
  <title>Togabou</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
  <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script> 
  <script src="http://code.highcharts.com/stock/highcharts-more.js" type="text/javascript"></script> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', welcome_index_path %>
<%= link_to "Stocks", stocks_path %>
<%= link_to "Accounts", accounts_page_path(1) %>
<%= link_to "Reports", reports_page_path(1) %>
<%= link_to "Graphs", graphs_page_path(1) %>
<%= link_to "Actions", actions_path %>
<%= yield %>

</body>
</html>
